html {
    height: 100%; //позволит растянуть сайт на 100% высоты
    width: 100%;
    background-color: #eee;
}

body{
				margin:0;
				-webkit-user-select:none;
				font-family:Arial;
				height: 100%;
        width: 100%;
				max-width: 640px;
				margin: auto;
			}

.main{
  height: 100%;
}

.title{
  font-size:30px;
  text-align: center;
  line-height:40px;
}

.data{
  font-size:20px;
  height: 40px;
  width: 100%;
}

.name{
  height: 100%;
  display:inline-block;
  width: 30%;
  min-width: 130px;
  line-height:38px;
  text-align: right;
}

.value{
  line-height:38px;
  width: 50%;
  min-width: 150px;
  max-width: 50%;
  display:inline-block;
  height: 100%;
}

.inp{
  width: 90%;
  margin: auto;
}

.but{
  margin-top: 8px;
  width: 100px;
  margin-right: 10px;
  float:right;
}
